.MicrosoftConnectTile{
    padding: var(--padding-default);
    border-top: var(--border-default);
    border-bottom: var(--border-default);
    border-radius: var(--corner-radius);
    max-width: 40%;
    margin-top: var(--padding-top);
    background: var(--focus-background);
}

img {
    --image-size: 40%;
    width: var(--image-size);
    height: var(--image-size);

    transition-duration: 0.8s;
    transition-property: transform;
}