.MicrosoftConnectTile{
    padding: var(--padding-default);
    border-top: var(--border-default);
    border-bottom: var(--border-default);
    border-radius: var(--corner-radius);
    width: 40em;
    height: 20em;
    margin-top: var(--padding-top);
    background: var(--focus-background);
    line-height: 20em;
}

.ConnectTileActive{
    border-color: var(--green);
    line-height: 1.5em;
}

.active{
    color: var(--green);
}